---
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Cutive&display=swap"
      rel="stylesheet"
    />
    <!--
      font-family: 'Comfortaa', cursive;
      font-family: 'Happy Monkey', cursive;
    -->
    <title>Megnolia Codes</title>
  </head>

    <body class="font-cutive">
      <Header />
      <main>
        <Intro />
        <About />
        <Skills />
        <Work />
        <Contact />
        <Footer />
      </main>
    </body>
  </html>

