<main class="bg-lightTan">
  <div class="md:flex">
    <section class="pt-5 px-4 md:px-8 md:w-1/2 md:pt-10 xl:px-6">
      <h1
        class="font-semibold text-transparent text-4xl md:text-6xl xl:text-8xl leading-snug md:leading-normal xl:leading-tight bg-gradient-to-r bg-clip-text from-peach via-orchid to-peach animate-text"
      >
        Hey there! <br/> I'm Megan.
      </h1> 
      <p class="text-sm md:text-base lg:text-xl xl:text-3xl">
        I'm a full-stack software engineer <br /> here to make your website dreams
        <br />come true.
      </p>
    </section>
    <div class="md:w-1/2 md:h-auto p-8">
    <img class="w-[100%]" src="dream.png" />
    </div>

     
  </div>
  <section class="bg-wavy bg-cover bg-no-repeat w-screen h-[50px] sm:h-[60px] md:h-[100px] lg:h-[140px] xl:h-[200px]"></section>
</main>
