<section class="bg-mint">
    <h2
      class="pt-8 text-xl md:text-2xl lg:text-4xl text-center text-orchid pb-4"
    >
      Skills & Technologies
    </h2>
    <p class="px-4 md:px-20 lg:px-40 text-sm font-comfortaa md:text-xl lg:text-2xl md:pb-8 mx-auto">
      I am always learning new things and growing my skillset. Here's a list
      of what I use most often in my work.
    </p>
    <ul
      class="flex items-center justify-center py-5 space-x-2 md:space-x-10 lg:space-x-16 text-center text-black"
    >
      <li><img class="hover:scale-110 w-10 md:w-16 lg:w-20" src="html.png" /><br /></li>
      <li><img class="hover:scale-110 w-10 md:w-16" src="css.png" /><br /></li>
      <li>
        <img class="hover:scale-110 w-10 md:w-16 lg:w-20" src="javascript.png" /><br
        />
      </li>
      <li><img class="hover:scale-110 w-10 md:w-16 lg:w-20" src="node.png" /><br /></li>
      <li><img class="hover:scale-110 w-10 md:w-16 lg:w-20" src="react.png" /><br /></li>
      <li>
        <img class="hover:scale-110 w-10 md:w-16 lg:w-20" src="tailwind.png" /><br />
      </li>
    </ul>
  </section>

  <section class="bg-working w-full bg-cover bg-no-repeat h-[120px] sm:h-[130px] md:h-[180px] lg:h-[250px] xl:h-[320px]">
  </section>